<div class="jumbotron text-center">
  <h1>Hiring Application</h1>
  <p class="lead">Welcome to our job portal.</p>
  <div>
    <a *ngIf="!authService.loggedIn()" class="btn btn-primary" [routerLink]="['/register']">Register</a> 
    <a *ngIf="!authService.loggedIn()" class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row" *ngIf="joblist">
  <h2 class="page-header">All Jobs</h2>
  
  <div class="table-responsive">          
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>description</th>
                <th>Exp. in Yrs</th>
                <th>Skills</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let jobs of joblist">
                <td>{{jobs.name}}</td>
                <td>{{jobs.description}}</td>
                <td>{{jobs.minexperience}} - {{jobs.maxexperience}}</td>
                <td>{{jobs.skills}}</td>
            </tr>
        </tbody>
    </table>
  </div>
